version: '3.8'

services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "4566:4566"

  imgproxy_server:
    image: ghcr.io/imgproxy/imgproxy:v3.14.0
    container_name: imgproxy_server
    ports:
      - "8081:8080"
    environment:
      - IMGPROXY_BIND=0.0.0.0:8080
      - IMGPROXY_KEY=${IMGPROXY_KEY}
      - IMGPROXY_SALT=${IMGPROXY_SALT}
    depends_on:
      - localstack
